*.o
Makefile
autom4te.cache/
config.h
config.h.in~
config.log
config.status
docs/Makefile
docs/partclone.*.8
get_lib_version
po/Makefile
po/Makefile.in
po/remove-potcdate.sed
src/.deps/
src/Makefile
src/partclone.btrfs
src/partclone.chkimg
src/partclone.dd
src/partclone.extfs
src/partclone.fat
src/partclone.fstype
src/partclone.hfsp
src/partclone.info
src/partclone.jfs
src/partclone.ntfs
src/partclone.ntfsfixboot
src/partclone.reiser4
src/partclone.reiserfs
src/partclone.restore
src/partclone.ufs
src/partclone.vmfs
src/partclone.xfs
src/test
stamp-h1
src/version.h
