*.o
*/Makefile
Makefile
autom4te.cache/
config.h
config.log
config.status
get_lib_version
po/Makefile.in
fail-mbr/fail-mbr.bin
fail-mbr/fail-mbr.image
src/.deps/
src/partclone.btrfs
src/partclone.fstype
src/partclone.jfs
src/partclone.ufs
src/partclone.vmfs
src/partclone.vmfs5
src/partclone.chkimg
src/partclone.dd
src/partclone.imager
src/partclone.exfat
src/partclone.extfs
src/partclone.fat
src/partclone.hfsp
src/partclone.info
src/partclone.ntfs
src/partclone.ntfsfixboot
src/partclone.reiser4
src/partclone.reiserfs
src/partclone.restore
src/partclone.xfs
src/partclone.minix
src/partclone.f2fs
src/partclone.nilfs2
src/version.h
stamp-h1
