Source: partclone
Section: admin
Priority: extra
Maintainer: Yu-Chin Tsai <thomas@nchc.org.tw>
Build-Depends: debhelper (>= 9), dpkg-dev (>= 1.16.1~), dh-autoreconf, autotools-dev, pkg-config, xsltproc, docbook-xsl, docbook-xml, libncursesw5-dev, libtinfo-dev, e2fslibs-dev (>= 1.41.3), libbsd-dev, ntfs-3g-dev|libntfs-dev, xfslibs-dev, libreiserfs0.3-dev, libreiser4-dev, libufs2 (>= 7.2), libvmfs (>= 0.2.5), libjfs-dev, libblkid-dev, uuid-dev, nilfs-tools
Standards-Version: 3.9.3

Package: partclone
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utility to clone and restore a partition.
 This project like the well-known backup utility 
 "Partition Image" a.k.a partimage. 
 .
 Partclone provides utilities to back up used blocks and 
 design for higher compatibility of the file system using 
 supported library like e2fslibs.
 .
 check the project website for more details
 http://partclone.org

Package: partclone-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, partclone (= ${binary:Version})
Description: Utility to clone and restore a partition for debug.
 This project like the well-known backup utility 
 "Partition Image" a.k.a partimage. 
 .
 This package contains the debugging symbols.
 .
 check the project website for more details
 http://partclone.org
