Source: motion
Section: graphics
Priority: optional
Build-Depends: debhelper (>= 4.1.16), libjpeg62-dev, sharutils, nasm, zlib1g-dev, libmysqlclient15-dev, libpq-dev, po-debconf, libavcodec-dev, libavformat-dev, dpatch
Maintainer: Frederik Dannemare <frederik@dannemare.net>
Standards-Version: 3.7.2

Package: motion
Architecture: any
Depends: ${shlibs:Depends}, debconf | debconf-2.0
Recommends: ffmpeg
Suggests: mysql-client, postgresql-client
Description: V4L capture program supporting motion detection
 Motion is a program that monitors the video signal from
 one or more cameras and is able to detect if a significant
 part of the picture has changed. Or in other words, it can
 detect motion.
 .
 Motion is a command line based tool. It has no graphical
 user interface. Everything is setup either via the
 command line or via configuration files.
 .
 The output from motion can be:
    - jpg files
    - ppm format files
    - mpeg video sequences
 .
 Also, motion has its own minimalistic web server. Thus,
 you can access the webcam output from motion via a browser.
